<div id="mainView">
	<img src="../img/fabric/studio/shadow/normal/2.png" style="margin-left: 0px; margin-top: 0px;">
	<img src="../img/fabric/studio/sleeves/left/normal/3080_1.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/sleeves/right/normal/3080_1.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/body/back/3080.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/body/front/normal/3080.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/label.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/cuff/left/normal/3080_outer.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/cuff/right/normal/3080_outer.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/cuff/right/normal/3080_inner.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/fastening/3080.png" style="position: absolute; top: 0px; left: 0px;">
	<!-- img id="ts_random_id_1663940_1678819" src="../img/fabric/studio/fastening/normal_1_outer/3080_0.png" style="position: absolute; top: 0px; left: 0px;" -->
	<img src="../img/fabric/studio/collar/7/3080_outer.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/collar/7/3080_inner.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/buttonholes/fastening/normal/f3080.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/buttons/fastening/normal/22.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/buttonthread/fastening/normal/b22.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/buttonholes/collar/7/f3080.png" style="position: absolute; top: 0px; left: 0px;">
	<img src="../img/fabric/studio/buttons/collar/7/22.png" style="position: absolute; top: 0px; left: 0px;">
	<!-- img id="ts_random_id_1067307_466925" src="../img/fabric/studio/thread/collar/7/b22.png" style="position: absolute; top: 0px; left: 0px;" -->
</div>